<div class="center jumbotron">
  <h1>App-blog</h1>
  <%= link_to 'Sign up' , signup_path ,class: 'btn btn-primary btn-lg btn-xlarge'%>
</div>

<div class="box2">
	<label>Quick Links</label>
	<%= link_to 'About' , about_path%> |
	<%= link_to 'app-blog' , articles_path%>
</div>